.busy {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.modal-header {
    background-color: rgb(60, 75, 86);
    color: rgb(255, 255, 255);
}

.modal-header button {
    color: rgb(255, 255, 255);
    opacity: 1;
    text-shadow: 0 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.aggregator-banner {
    background-color: rgb(60, 75, 86);
    color: rgb(255, 255, 255);
    padding: 1rem;
    line-height: 34px;
    font-size: 16px;
}

.aggregator-contribute-button {
    margin: 0 1rem;
}

.aggregator-contribute {
    color: rgb(255, 255, 255);
    margin: 0 1rem;
}

.aggregator-search-input {
}

.aggregator-search-input.form-control {
    padding: 6px 24px 6px 12px;
}

.aggregator-search-clear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.aggregator-contribute:hover, .aggregator-contribute:active, .aggregator-contribute:focus {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    cursor: pointer;
}

.aggregator-contribution {
    margin: 0.75rem;
    border: 1px dashed rgb(57, 75, 88);
    padding: 0.5rem;
    border-radius: 3px;
    display: flex;
    flex-flow: row nowrap
}

.aggregator-votes {
    flex: 0 0;
    width: 70px;
    font-weight: bold;
}

.aggregator-contribution-votes {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    width: 50px;
    text-align: center;
}

.aggregator-contribution-description {
    flex: 1 1;
    flex-direction: column;
}

.aggregator-contribution-description > a {
    width: 100%;
    display: block;
    font-size: 20px;
}

.aggregator-contribution-description > .aggregator-contribution-details1 {
    font-size: 14px;
    padding: 0.25rem;
}

.aggregator-contribution-description > .aggregator-contribution-details2 {
    font-size: 12px;
    color: rgb(100, 100, 100);
    padding: 0.25rem;
}

.aggregator-contribution-description > .aggregator-contribution-details2 > .badge {
    margin-top: -2px;
    background-color: rgb(60, 75, 86);
}

.aggregator-contribution-edit {
    width: 90px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
}

.aggregator-contribution-edit > button {
    margin: 0 5px;
}

.aggregator-vote, .aggregator-vote:active, .aggregator-vote:hover, .aggregator-vote:focus {
    color: rgb(57, 75, 88);
    text-decoration: none;
    cursor: pointer;
}

.aggregation-vote-count {
    font-size: 18px;
}

.aggregator-zero-state {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding-top: 80px;
}

.aggregator-zero-state > span > a {
    cursor: pointer;
}

.aggregator-paging-link {
    cursor: pointer;
    color: rgb(45, 59, 69);
}