<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CS6460 Social News Aggregator</title>
    <link rel="shortcut icon" href="images/sas/favicon.ico"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/aggregator.css}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/angularjs/1.6.10/angular.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        window.params = JSON.parse(/*[[${params}]]*/ '{}');
        /*]]>*/
    </script>
    <script th:src="@{/scripts/aggregator.js}"></script>
</head>

<body ng-app="ltiApp">
<div ng-controller="AggregatorController as $ctrl">
    <div class="busy"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</div>
    <div class="aggregator">
        <header class="aggregator-banner">
            <a class="aggregator-contribute" ng-click="$ctrl.onChangeType('')" ng-class="{'selected' : $ctrl.type == ''}">Course Contributions</a>
            <span>|</span>
            <a class="aggregator-contribute" ng-click="$ctrl.onChangeType('/new')" ng-class="{'selected' : $ctrl.type == '/new'}">New Contributions</a>
            <div class="btn-group pull-right">
                <input type="text" class="form-control aggregator-search-input" placeholder="Search" ng-keypress="$ctrl.onSearch($event)" ng-model="$ctrl.search" ng-value="$ctrl.search">
                <span class="aggregator-search-clear glyphicon glyphicon-remove-circle" ng-click="$ctrl.onClearSearch()" style="display:none"></span>
            </div>
            <div class="btn-group pull-right">
                <button class="aggregator-contribute-button btn btn-default navbar-btn" ng-click="$ctrl.onShowContributionDialog()">Contribute</button>
            </div>
        </header>
        <div ng-if="$ctrl.contributions.count == 0 && $ctrl.type == ''" class="aggregator-zero-state">
            <span>Be the first to add a <a ng-click="$ctrl.onShowContributionDialog()">new contribution</a>.</span>
        </div>
        <div ng-if="$ctrl.contributions.count == 0 && $ctrl.type == '/search'" class="aggregator-zero-state">
            <span>No search results found.</span>
        </div>
        <div ng-repeat="contribution in $ctrl.contributions.items" class="aggregator-contribution">
            <div class="aggregator-contribution-votes">
                <a ng-click="$ctrl.onUpVote(contribution)" class="glyphicon glyphicon-triangle-top aggregator-vote"></a>
                <span class="aggregation-vote-count">{{::contribution.votes}}</span>
                <a ng-click="$ctrl.onDownVote(contribution)"
                   class="glyphicon glyphicon-triangle-bottom aggregator-vote"></a>
            </div>
            <div class="aggregator-contribution-description">
                <a ng-href="{{::contribution.link}}" target="_blank">{{::contribution.title}}</a>
                <div class="aggregator-contribution-details1">{{::contribution.description}}</div>
                <div class="aggregator-contribution-details2"><span>{{::contribution.userId}} contributed on {{::contribution.created | date:'yyyy-MM-dd HH:mm:ss'}}</span> <span ng-if="contribution.assignmentName" class="badge">{{::contribution.assignmentName}}</span></div>
            </div>
            <div class="aggregator-contribution-edit">
                <button ng-if="$ctrl.userId == contribution.userId" ng-click="$ctrl.onEditContribution(contribution)"
                        class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-edit"></span>
                </button>
                <button ng-if="$ctrl.userId == contribution.userId" ng-click="$ctrl.onDeleteContribution(contribution)"
                        class="btn btn-sm btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
        <footer>
            <a class="aggregator-paging-link"
                ng-if="$ctrl.isPreviousVisible()"
                ng-click="$ctrl.fetchPreviousContributions()">Previous</a>
            <span ng-if="$ctrl.isPreviousVisible() && $ctrl.isNextVisible()">|</span>
            <a class="aggregator-paging-link"
                ng-if="$ctrl.isNextVisible()"
                ng-click="$ctrl.fetchNextContributions()">Next</a>
        </footer>
    </div>
    <div id="aggregator-dialog" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$ctrl.onCloseContributionDialog()" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Contribution</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" ng-class="{'has-error' : !$ctrl.contribution.title}">
                            <label for="titleInput">Title</label>
                            <input type="text" class="form-control" id="titleInput"
                                   ng-model="$ctrl.contribution.title" ng-value="$ctrl.contribution.title"
                                   placeholder="Interesting google article" required>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : !$ctrl.contribution.link}">
                            <label for="linkInput">Link</label>
                            <input type="text" class="form-control" id="linkInput"
                                   ng-model="$ctrl.contribution.link"  ng-value="$ctrl.contribution.link"
                                   placeholder="http://www.google.com?search=CS6460" required>
                            <p class="help-block">e.g. http://www.google.com?search=CS6460</p>
                        </div>
                        <div class="form-group">
                            <label for="descriptionInput" class="required">Description</label>
                            <textarea class="form-control" rows="3" id="descriptionInput"
                                      ng-model="$ctrl.contribution.description"  ng-value="$ctrl.contribution.description"
                                      placeholder="Check out all the articles found for CS6460."></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.onPublishContribution()">Publish</button>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.onCloseContributionDialog()">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="aggregator-dialog-warning" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$ctrl.onCloseContributionDialogWarning()" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Voting problem!</h4>
                </div>
                <div class="modal-body">
                    It looks like you have already {{$ctrl.vote == 1 ? 'upvoted' : 'downvoted'}} this contribution.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$ctrl.onCloseContributionDialogWarning()">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
</html>
