<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title >CS6460 Social News Aggregator</title>
    <link rel="shortcut icon" href="images/sas/favicon.ico"/>
</head>

<body>
<h1>Error</h1>
<table>
    <tr>
        <td>LTI Error</td>
        <td th:text="${ltiError}"/>
    </tr>
</table>
</body>
</html>
